.sectionOne {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  color: #181818;
  gap: 36px;
  padding: 36px;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  color: #FAFAFA;
  gap: 36px;
  padding: 36px;
}

.gradientSpan {
  position: relative;
  background-image: linear-gradient(112.68deg, #FF3162 0%, #FFBF3F 100%);
  background-position: center center;
  background-size: contain;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
}

.gradientUnderline {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(112.68deg, #FF3162 0%, #FFBF3F 100%);
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 130%;
  background-size: 100% 8px;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  color: #FAFAFA;
  gap: 36px;
  padding: 36px;
}

.sectionFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  justify-content: center;
  color: #FAFAFA;
  gap: 36px;
  padding: 36px;
}

.sectionFive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  color: #FAFAFA;
  gap: 36px;
  padding: 36px;
}